<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Lobster&family=Original+Surfer&family=Playfair+Display&display=swap" rel="stylesheet">
	<title>Login Form</title>

</head>
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<div class="container">
		<header>
	        <div class="row">
	            <img th:src="@{/image/cover/header1.jpg}" style="width:100%;" alt="">
	        </div>
	    </header>
		
		<nav>
	    	<div th:replace="~{/layout/menu.html}"></div>
	    </nav>
		
		<div class="row justify-content-center" style="min-height:600px">
			<div class="col-sm-4 mt-3">
				<h2>LOGIN FORM</h2>
				<div class="row ml-1" th:if="${message}!=null">
					<i th:text="${message}" class="alert alert-success"></i>
				</div>
				<form th:action="@{/security/login}" method="post">
					<div class="form-group">
						<label for="">Username</label>
						<input type="text" name="username" class="form-control" />
					</div>
					<div class="form-group">
						<label for="">Password</label>
						<input type="password" name="password" class="form-control" />
					</div>
					<div class="form-check mb-3">
						<input type="checkbox" name="remember-me" class="form-check-input" />
						<labe class="form-check-label">Remember Me?</labe> 
					</div>
					<button class="btn btn-success">Login</button>
					<hr />
					
				</form>
			</div>
		</div>
		
		 <footer class="row mt-4 alert alert-light bg-dark">
			<div class="col-sm-12 text-center ">
				XeoXo . All rights reserved.
			</div>
		</footer>
	</div>
	<script src="/js/shopping-cart-control.js"></script>
</body>
</html>